items assets kind software-package url https://app.iosgods.com/apps/pubgcheatengine.ipa kind display-image needs-shine url https://iosddl.net/ipas/iosgods.com.png kind full-size-image needs-shine url https://iosddl.net/ipas/iosgods.com.png metadata bundle-identifier com.tencent.ig bundle-version 105.6095 kind software subtitle iOSGods.com title PUBG CE - iOSGods.com
